<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding: 0px ; margin: 0px;">
<img src="App/Shared/Images/cglogo.JPG" height="50" width="140" alt="Capgemini Logo" style="align-self: center;"></a>
</div>
<ul class="nav navbar-nav">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#eventslist">Events List</a></li>
    <li><a href="#registerevents">Event Registration</a></li>
    <li><a href="#contactus">Contact Us</a></li>
</ul>
</div>
</nav>